.faq__heading {
  width: 95%;
  margin: auto;
  font-size: 2rem;
  margin-top: 4rem;
  max-width: 1200px;
}

.faq__container {
  border-bottom: 2px solid white;
  width: 95%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  max-width: 1200px;
}

.faq__wrapper {
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq__que_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

.faq__que {
  margin-bottom: 0.5rem;
  font-size: 1.2rem; 
  font-weight: bold;
}

.faq__arrow {
  font-weight: bold;
  font-size: 1.2rem;
  transition: all .3s;
}

.faq__ans {
  color: #acc3e3
}

