.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logoText {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 2rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.link {
  margin-right: 1rem;
}

.menuIcon {
  display: none !important;
}

@media (max-width: 500px) {
  .logo img {
    width: 3rem !important;
  }
  .logo h3 {
    font-size: 1.5rem !important;
  }
  .linkContainer {
    display: block;
    position: fixed;
    top: -20px;
    left: -200px;
    z-index: 1;
    height: 101vh;
    background-color: purple;
    padding-top: 75px;
    transition: all 0.5s;
  }
  .menuIcon {
    display: block !important;
    position: absolute;
    right: 50px;
  }
  .link {
    margin-top: 15px;
  }
  .link::before {
    content: "•"
  }
}
@media (min-width: 500px){

  .linkContainer {
    transform: none !important;
  }
}
.menuIcon {
	height: 30px;
	width: 30px;
	cursor: pointer;
	display: block;
}
.menuIcon hr {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
}
.lineLeft {
	width: 16.5px !important;
  float: left !important;
	transition: all 200ms linear;
}
.lineRight {
  margin-top: 0;
	width: 16.5px !important;
	float: right;
	transition: all 200ms linear;
}

@media (hover: hover) and (pointer: fine) {
  .menuIcon:hover .lineLeft,
  .menuIcon:hover .lineRight {
    width: 30px !important;
  }
}

.lineLeftClose {
  transition: all 0.1s linear !important;
  transform-origin: left;
  transform: rotate(45deg)
}
.lineRightClose {
  transition: all 0.1s linear !important;
  transform-origin: left;
  transform: rotate(-45deg);
}
.lineMiddleClose {
  opacity: 0;
}
.lineMiddle {
  color: inherit;
}