.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-left: 1rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
}

.link {
  margin-right: 1rem;
}
