.container {
  width: 80%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  transition: all 0.75s;
  height: 125px;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
}

.logoText {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 2rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 30px;
}

.link {
  margin-right: 1rem;
}

.menuIcon {
  display: none !important;
}
.container ul li {
  cursor: pointer;
}
.container ul li:hover {
  transition: all 0.3s;
  color: #ff9900 !important;
}

@media (max-width: 500px) {
  .container {
    height: 80px;
  }
  .logo img {
    width: 3rem !important;
  }
  .logo h3 {
    font-size: 1.5rem !important;
  }
  .linkContainer {
    width: 200px;
    display: block;
    position: fixed;
    top: -20px;
    left: -200px;
    z-index: 1;
    height: 101vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 75px;
    transition: all 0.5s;
  }
  .menuIcon {
    display: block !important;
    position: fixed;
    right: 50px;
  }
  .link {
    margin-top: 15px;
  }
  .link::before {
    content: "•";
  }
}
@media (min-width: 500px) {
  .linkContainer {
    transform: none !important;
  }
}
.menuIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: block;
}
.menuIcon hr {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
}
.lineLeft {
  width: 16.5px !important;
  float: left !important;
  transition: all 200ms linear;
}
.lineRight {
  margin-top: 0;
  width: 16.5px !important;
  float: right;
  transition: all 200ms linear;
}

@media (hover: hover) and (pointer: fine) {
  .menuIcon:hover .lineLeft,
  .menuIcon:hover .lineRight {
    width: 30px !important;
  }
}

.lineLeftClose {
  transition: all 0.1s linear !important;
  transform-origin: left;
  transform: rotate(45deg);
}
.lineRightClose {
  transition: all 0.1s linear !important;
  transform-origin: left;
  transform: rotate(-45deg);
}
.lineMiddleClose {
  opacity: 0;
}
.lineMiddle {
  color: inherit;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.joindiscord {
  background-color: #5865F2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
  margin-top: 5px;
  margin-left: 20px;
}
.joindiscord:hover {
  background-color: #4752C4 !important;
}

.discord {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
  background-color: #7289DA;
  padding-bottom: 10px;
  border-radius: 5px;
  z-index: 21;
}

.bg {
  position: fixed;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.subLogo {
  background: -webkit-linear-gradient(45deg, #fff, #19bc8b 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}