.container {
  margin-top: 50vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: bolder;
  font-size: min(2.5vw, 29.9px);
}

.link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.para {
  font-weight: bolder;
}

.bottom {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.copyright {
  margin-right: 1rem;
  /* margin-top: -1rem; */
}
