.button {
  background: #015aff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}


.modal {
  display: none;
}

.offset {
  position: relative;
  cursor: pointer;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  color: var(--color);
  box-shadow: 0.5em 0.5em 0 0 var(--color), inset 0.5em 0.5em 0 0 var(--color);
  border: none !important;
}


.buttonSpan {
  position: inherit;
  top: 3px;
  left: 3px;
  transition: all 0.1s ease;
  font-size: 1.5em;
}
.offset:hover,
.offset:focus .buttonSpan {
  position: inherit;
}
.offset {
  --color: #19bc8b;
  --hover: #17a178;
}
.invisible {
  display: block;
}
.modal {
  position: fixed;
}
@media (max-width: 500px) {
  .buttonSpan {
    font-size: 1.2em;
  }
  .offset {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
.animate {
  animation: moveUp 1s;
  opacity: 1;
}

@keyframes moveUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: none;
  }
}
@media (min-width: 500px){
  .button:hover {
    background: #0449ca;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  
  .offset:hover {
    color: white;
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
}