.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;

  margin-bottom: -2rem;
}

.topHeading {
  font-size: min(7vw, 100px);
}

.everyoneHeading {
  padding-top: 0;
  margin-top: 0;
}

.button {
  background: #015aff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: white;
}

.date {
  font-size: min(3vw, 48.6px);
}

.text {
  /* border: 2px solid white; */
  color: #ff9900;
}

.horizontalRule {
  display: flex;
  align-items: center;
}

.line {
  border: 2px solid white;
  height: 2px;
  width: 20vw;
}

.scrollSvgContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.svg {
  margin-right: 0.5rem;
}

.rightGradient {
  position: absolute;
  /* z-index: -1; */
  right: 0;
  top: 20vh;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  background: #ff9900;
  filter: blur(100vw);
  opacity: 0.4;
}

.leftGradient {
  position: absolute;
  /* z-index: -1; */
  left: 0;
  top: 25vh;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  background: #1576fd;
  filter: blur(100vw);
  opacity: 0.3;
}
