@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: Castledown, serif;
  font-weight: bold;
  text-align: center;

  margin-bottom: -2rem;
}

.topHeading {
  font-size: min(7vw, 100px);
}

.everyoneHeading {
  padding-top: 0;
  margin-top: 0;
}

.button {
  background: #015aff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.date {
  font-size: min(3vw, 48.6px);
  font-family: Castledown, serif;
  font-weight: heavy;
}

.text {
  /* border: 2px solid white; */
  color: #ff9900;
  font-family: Castledown, serif;
  font-weight: bold;
}

.horizontalRule {
  display: flex;
  align-items: center;
}

.line {
  border: 2px solid white;
  height: 2px;
  width: 20vw;
}

.scrollSvgContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.svg {
  margin-right: 0.5rem;
}

.rightGradient {
  position: absolute;
  /* z-index: -1; */
  right: 0;
  top: 20vh;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  background: #ff9900;
  filter: blur(100vw);
  opacity: 0.4;
}

.leftGradient {
  position: absolute;
  /* z-index: -1; */
  left: 0;
  top: 25vh;
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  background: #1576fd;
  filter: blur(100vw);
  opacity: 0.3;
}
.scrollDown {
  text-align: center;
  font-size: 1.2em;
  font-family: "La Belle Aurore", cursive !important;
  position: absolute;
  top: 88vh;
  width: 99vw;
}
.scrollMsg1 {
  position: absolute;
  width: 500px;
  color: grey;
  transform: rotate(90deg);
  left: 0%;
}
.scrollMsg2 {
  position: absolute;
  width: 500px;
  color: grey;
  transform: rotate(90deg);
  right: 2%;
}
.scrollArr {
  animation: hover 2s infinite;
}
@keyframes hover {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  50% {
    margin-left: 20px;
  }
  70% {
    margin-left: 3px;
  }
  85% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0px;
  }
}
@media (max-width: 1000px) {
  .scrollDown {
    display: none;
  }
}
@media (min-width: 1000px) {
  .scrollSvgContainer {
    /* display: none; */
  }
}
.accent1 {
  z-index: 0;
  position: absolute;
  left: 0;
  width: 600px;
  max-width: 100vw;
}
.accent2 {
  z-index: 0;
  position: absolute;
  width: 600px;
  right: 0;
}
.animate {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
