.footer {
    position: absolute;
    left: 0;
    transform: translateY(10px);
    width: 99.14vw;
    background-color: #185D4D;
    color: #BAFFEE;
}

.footer .container {
    display: grid;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 5px 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Nunito', sans-serif !important;
}

.footer .container a {
    font-family: 'Nunito', sans-serif !important;
    color: #BAFFEE !important;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer .container ul {
    list-style: none;
}

.footer .container ul li {
    transform: translateX(-50px);
}