:root {
  /* --overall-height: 23rem; */
  --overall-height: min(65vw,23rem);
  --overall-width: min(45%, 237px);
  --card-border-radius: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #151515;
  color: white;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

