html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #151515;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Typewriter__cursor {
  color: #17a178;
  font-size: 0;
}
.Typewriter__cursor::after {
  content: "urmom";
  color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  font-size: 10px;
  border-bottom: 6px #17a178 solid;
}
@media (max-width: 500px){
  .Typewriter__cursor::after {
    font-size: 5px;
    border-bottom: 4px #17a178 solid;
  }
}
.Typewriter__wrapper {
  background-color: #1e1f22;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.about_faqwrapper__1e5Pe iframe {
  width: 100% !important;
  height: 200px !important;
  border: none;
}