html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #151515;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Typewriter__cursor {
  color: #17a178;
  font-size: 0;
}
.Typewriter__cursor::after {
  content: "urmom";
  color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  font-size: 10px;
  border-bottom: 6px #17a178 solid;
}
@media (max-width: 500px){
  .Typewriter__cursor::after {
    font-size: 5px;
    border-bottom: 4px #17a178 solid;
  }
}
.Typewriter__wrapper {
  background-color: #1e1f22;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.about_faqwrapper__1e5Pe iframe {
  width: 100% !important;
  height: 200px !important;
  border: none;
}
.row-content-text::before {
  content: "hiboi";
  opacity: 0;
}
.row-title-text {
  margin-left: 15px;
}

.fade {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.row-content-text {
  padding-bottom: 15px !important;
}


/* Nprogress stuff */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to left, #1380c4, #BD8BE5);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #ff027a;
  border-left-color: #ff027a;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* end Nprogress stuff*/

a {
  cursor: pointer;
}

#navbar {
  background-color: black !important;
}
.MsoNormal {
  color: black;
}