.container {
  width: 90%;
  margin: auto;
} 

.title {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.update {
  font-weight: normal;
  margin-bottom: 4rem;
}

.contactus {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
